# Ignore myenv directory inside lab08
lab08/myenv/

lab09/aws_env/

# Optionally, ignore all of lab08 except myenv
# lab08/*
# !lab08/myenv/

# If you want to ignore specific file types in all directories
# *.log
# *.tmp

.DS_Store